* {
    margin: 0;
    padding: 0;
}

body {
    background: url(../img/puesta-de-sol-con-palmeras-y-un-lago.jpg) no-repeat;
    background-size: cover;
}

main {
    background-color: rgba(128, 128, 128, 0.18);
    border-left:2px solid rgba(0, 255, 0, 0.284);
    border-right:2px solid rgba(0, 255, 0, 0.284);
    width: 95%;
    position: relative;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedorDeInterfaz {
    width: 40%;
    position: absolute;
    background-color: #263b4a;
    padding: 20px;
    top: 30%;
    text-align: center;
    z-index: 2;
    color: #a2caea;
    border-radius: 40px;
    transition: all 0.3s ease;
}

.contenedorDeInterfaz h1 {
    font-family: monospace;
    font-weight: bold;
    font-size: 26px;
}

.contenedorDeInterfaz form input{
    margin: 15px;
    margin-top: 25px;
    padding: 10px;
    width: 80%;
}

.contenedorDeInterfaz form input[type='submit']{
    border: none;
    height: 40px;
    width: 50%;
    margin-top: 0px;
    background-color: transparent;
    border: 1px solid #2ef8a0;
    color: #2ef8a0;
    font-size: 17px;
}

.contenedorDeInterfaz form input[type='submit']:hover {
    background-color: #2ef8a0;
    color: black;
    cursor: pointer;
    transition: 0.4s;

}

.contenedorDeInterfaz form input[type='text']{
    background-color:#1d2e3a;
    color: #2ef8a0;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    border: 0.3px solid rgba(255, 255, 255, 0.234);
    padding: 15px;
}

.contenedorDeInterfaz form input[type='text']:focus {
    outline-color: #2ef8a0;
    outline-width: 1px;
    outline-style: double;
}

.equipo1 {
    position: absolute;
    width: 25%;
    background-color: #1a1d5ad4;
    height: 40vh;
    left: 0;
    top: 30%;
    margin: auto 10px;
}

.equipo2 {
    position: absolute;
    width: 25%;
    background-color: #840007d4;
    height: 40vh;
    right: 0;
    top: 30%;
    margin: auto 10px;
}

.equipo1, .equipo2 {
    padding: 10px;
    font-size: 40px;
    z-index: 1;
    text-align: center;
    overflow: hidden;
    color: white;
    border-radius: 30px;
    font-family: monospace;
    border: 1px rgba(255, 255, 255, 0.563) solid;
    transition: transform 0.3s ease, opacity 0.3s ease;

}

.equipo1 p, .equipo2 p{
    padding-top: 3.5vh;
}

/* Todo esto es correspondiente a la animacion, debo estudiar esta parte mas a detalle ya que no conozco algunos conceptos correctamente */

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(30px);
  }
}

.animar-entrada {
  animation: fadeInUp 0.5s ease forwards;
}

.animar-salida {
  animation: fadeOutDown 0.5s ease forwards;
}
